# Build
build/

# Allow pre-built release binaries
!dist/
cmake-build-*/
out/

# IDE
.idea/
.vscode/
*.xcodeproj
*.xcworkspace
*.sln
*.vcxproj*

# JUCE
JuceLibraryCode/

# OS
.DS_Store
Thumbs.db

# Compiled
*.o
*.a
*.so
*.dylib
*.dll
*.vst3
*.component
